.studentListContainer {
  padding: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.studentList {
  list-style: none;
  padding: 0;
}

.studentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex-wrap: wrap;
  gap: 10px;
}

.studentInfo {
  display: flex;
  gap: 1rem;
  width: 70%;
}

.actions {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
}

.viewButton, .updateButton, .deleteButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.viewButton {
  background-color: #007bff;
  color: white;
}

.updateButton {
  background-color: #ffc107;
  color: white;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
}

.viewButton:hover {
  background-color: #0056b3;
}

.updateButton:hover {
  background-color: #e0a800;
}

.deleteButton:hover {
  background-color: #c82333;
}

.loader{
  margin-top: 10%;
  width: 100px;
  height: 100px;
  animation: spin infinite 5s linear;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}